* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gilroy';
}
*::selection{
    color: #fff;
    background-color: black;
}
html, body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #F7F7F7;
}

#nav{
    /*height: 90px;*/
    width: 100%;
    /*background-color: burlywood;*/
    position: fixed;
    z-index: 99;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 25px;
}

#nav #nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#links{
    padding: 10px;
}

#nav-part1{
    /*background-color: red;*/
    height: 82px;
    overflow: hidden;
}

#nav-part1 svg{
    display: block;
}

#nav-part2 #links a{
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: 500;
    font-size: 14px;
    margin: 0px 20px;
}

#icons{
    padding: 10px;
    border-radius: 50px;
    background-color: #F7F7F7;
}
#nav-part2 #icons i{
    font-size: 18px;
    margin: 0px 20px;
    font-weight: 100;
}
#cursor{
    height: 150px;
    width: 150px;
    background-color: whitesmoke;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%) scale(0);
    z-index: 1;
}



#page2-1{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 1.5vw;
    padding-top: 55.9vh;
    padding-bottom: 1vw;
    overflow: visible;
    opacity: 1;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5vw;


}


.left-column {
    display: flex;
    flex-direction: column;         /* Stack h1 tags vertically */
    width: 70%;                     /* Takes 40% of the container's width */
}



.left-column h1{
    font-size: 10.5vw;
    text-transform: uppercase;
    font-family: futura;
    line-height: 9.5vw;
    text-align: left;
    letter-spacing: -5px;
    margin-left: 1vw;
}

.right-column {
    width: 30%;                     /* Takes 50% of the container's width */
    text-align: left;               /* Aligns text within the right column */
}

.right-column p{
    text-align: left;
    font-size: 1.2vw;
    flex-direction: column;
    line-height: 1.5vw;
}

 /*#page2-1 p{
    text-align: right;
    font-family: futura;
    font-size: 1.3vw;
    margin-left: 5px;
    margin-bottom: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
}
    */

#page2-2{
    min-height: 200vh;
    width: 100%;
    background-color: #F7F7F7;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 50px;
}




.child{
    height: 80vh;
    width: 45vw;
    margin: 10px;
    text-align: center;
    /*background-color: red;*/
    /*border:  2px solid #000;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: 0; /* Ensure child elements don't overlap the cursor */

}


.child img{
    max-width: 100%;
    height: 100%;
    object-fit: contain;
    z-index: 1;
}

.child .details-prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-prod h3{
    font-size: 12px;
    font-weight: 100;
}

.details-prod span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13.6px;
    margin-top: 10px;
}


.child-{
    height: 80vh;
    width: 45vw;
    margin: 10px;
    text-align: center;
    /*background-color: red;*/
    /*border:  2px solid #000;*/
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    z-index: 0; /* Ensure child elements don't overlap the cursor */

}


.child- img{
    max-width: 80%;
    height: 80%;
    object-fit: contain;
    z-index: 1;
}

.child- .details-prod{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details-prod h3{
    font-size: 12px;
    font-weight: 100;
}

.details-prod span{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 13.6px;
    margin-top: 10px;
}

.child- #text1{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    margin-top: 10vw;
    text-transform: uppercase;
    font-size: 3vw;
    font-family: futura;
    font-weight: bold;
}






